
<div>
    <h2><span data-translate="hackYeahApp.location.detail.title">Location</span> {{vm.location.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="hackYeahApp.location.latitude">Latitude</span></dt>
        <dd>
            <span>{{vm.location.latitude}}</span>
        </dd>
        <dt><span data-translate="hackYeahApp.location.longtitude">Longtitude</span></dt>
        <dd>
            <span>{{vm.location.longtitude}}</span>
        </dd>
        <dt><span data-translate="hackYeahApp.location.report">Report</span></dt>
        <dd>
            <a ui-sref="report-detail({id:vm.location.report.id})">{{vm.location.report.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="location-detail.edit({id:vm.location.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
