<li>
    <div class="report-distance">{{ content.distance}}km</div>
    <div class="report-details">
        <div class="report-header {{getSeverityClass(content.severity)}}"> title: {{ content.title }}, severity: {{ content.severity }}</div>
        <div class="report-content">{{ content.content }}</div>
    </div>
</li>