
<div>
    <h2><span data-translate="hackYeahApp.attachment.detail.title">Attachment</span> {{vm.attachment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="hackYeahApp.attachment.name">Name</span></dt>
        <dd>
            <span>{{vm.attachment.name}}</span>
        </dd>
        <dt><span data-translate="hackYeahApp.attachment.path">Path</span></dt>
        <dd>
            <span>{{vm.attachment.path}}</span>
        </dd>
        <dt><span data-translate="hackYeahApp.attachment.fileSize">File Size</span></dt>
        <dd>
            <span>{{vm.attachment.fileSize}}</span>
        </dd>
        <dt><span data-translate="hackYeahApp.attachment.format">Format</span></dt>
        <dd>
            <span>{{vm.attachment.format}}</span>
        </dd>
        <dt><span data-translate="hackYeahApp.attachment.type">Type</span></dt>
        <dd>
            <span data-translate="{{'hackYeahApp.AttachmentType.' + vm.attachment.type}}">{{vm.attachment.type}}</span>
        </dd>
        <dt><span data-translate="hackYeahApp.attachment.report">Report</span></dt>
        <dd>
            <a ui-sref="report-detail({id:vm.attachment.report.id})">{{vm.attachment.report.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="attachment-detail.edit({id:vm.attachment.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
