<div>
    <h2 data-translate="hackYeahApp.attachment.home.title">Attachments</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="attachment.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="hackYeahApp.attachment.home.createLabel">
                        Create new Attachment
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="hackYeahApp.attachment.name">Name</span></th>
                    <th><span data-translate="hackYeahApp.attachment.path">Path</span></th>
                    <th><span data-translate="hackYeahApp.attachment.fileSize">File Size</span></th>
                    <th><span data-translate="hackYeahApp.attachment.format">Format</span></th>
                    <th><span data-translate="hackYeahApp.attachment.type">Type</span></th>
                    <th><span data-translate="hackYeahApp.attachment.report">Report</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="attachment in vm.attachments track by attachment.id">
                    <td><a ui-sref="attachment-detail({id:attachment.id})">{{attachment.id}}</a></td>
                    <td>{{attachment.name}}</td>
                    <td>{{attachment.path}}</td>
                    <td>{{attachment.fileSize}}</td>
                    <td>{{attachment.format}}</td>
                    <td data-translate="{{'hackYeahApp.AttachmentType.' + attachment.type}}">{{attachment.type}}</td>
                    <td>
                        <a ui-sref="report-detail({id:attachment.report.id})">{{attachment.report.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="attachment-detail({id:attachment.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="attachment.edit({id:attachment.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="attachment.delete({id:attachment.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
