
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAttachmentLabel" data-translate="hackYeahApp.attachment.home.createOrEditLabel">Create or edit a Attachment</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.attachment.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.attachment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hackYeahApp.attachment.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.attachment.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hackYeahApp.attachment.path" for="field_path">Path</label>
            <input type="text" class="form-control" name="path" id="field_path"
                    ng-model="vm.attachment.path"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hackYeahApp.attachment.fileSize" for="field_fileSize">File Size</label>
            <input type="number" class="form-control" name="fileSize" id="field_fileSize"
                    ng-model="vm.attachment.fileSize"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hackYeahApp.attachment.format" for="field_format">Format</label>
            <input type="text" class="form-control" name="format" id="field_format"
                    ng-model="vm.attachment.format"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hackYeahApp.attachment.type" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="vm.attachment.type" id="field_type">
                <option value="PHOTO" data-translate="hackYeahApp.AttachmentType.PHOTO">PHOTO</option>
                <option value="DOCUMENT" data-translate="hackYeahApp.AttachmentType.DOCUMENT">DOCUMENT</option>
                <option value="ARCHIVE" data-translate="hackYeahApp.AttachmentType.ARCHIVE">ARCHIVE</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="hackYeahApp.attachment.report" for="field_report">Report</label>
            <select class="form-control" id="field_report" name="report" ng-model="vm.attachment.report" ng-options="report as report.id for report in vm.reports track by report.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
