<div>
    <h2 data-translate="hackYeahApp.userSettings.home.title">User Settings</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-settings.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="hackYeahApp.userSettings.home.createLabel">
                        Create new User Settings
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="hackYeahApp.userSettings.user">User</span></th>
                    <th><span data-translate="hackYeahApp.userSettings.location">Location</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userSettings in vm.userSettings track by userSettings.id">
                    <td><a ui-sref="user-settings-detail({id:userSettings.id})">{{userSettings.id}}</a></td>
                    <td>
                        {{userSettings.user.id}}
                    </td>
                    <td>
                        <a ui-sref="location-detail({id:userSettings.location.id})">{{userSettings.location.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-settings-detail({id:userSettings.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-settings.edit({id:userSettings.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-settings.delete({id:userSettings.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
