
<div>
    <h2><span data-translate="hackYeahApp.userSettings.detail.title">User Settings</span> {{vm.userSettings.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="hackYeahApp.userSettings.user">User</span></dt>
        <dd>
            {{vm.userSettings.user.id}}
        </dd>
        <dt><span data-translate="hackYeahApp.userSettings.location">Location</span></dt>
        <dd>
            <a ui-sref="location-detail({id:vm.userSettings.location.id})">{{vm.userSettings.location.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="user-settings-detail.edit({id:vm.userSettings.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
