<div>
    <h2 data-translate="hackYeahApp.severity.home.title">Severities</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="severity.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="hackYeahApp.severity.home.createLabel">
                        Create new Severity
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="hackYeahApp.severity.name">Name</span></th>
                    <th><span data-translate="hackYeahApp.severity.value">Value</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="severity in vm.severities track by severity.id">
                    <td><a ui-sref="severity-detail({id:severity.id})">{{severity.id}}</a></td>
                    <td>{{severity.name}}</td>
                    <td>{{severity.value}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="severity-detail({id:severity.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="severity.edit({id:severity.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="severity.delete({id:severity.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
