
<div>
    <h2><span data-translate="hackYeahApp.report.detail.title">Report</span> {{vm.report.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="hackYeahApp.report.name">Name</span></dt>
        <dd>
            <span>{{vm.report.name}}</span>
        </dd>
        <dt><span data-translate="hackYeahApp.report.description">Description</span></dt>
        <dd>
            <span>{{vm.report.description}}</span>
        </dd>
        <dt><span data-translate="hackYeahApp.report.date">Date</span></dt>
        <dd>
            <span>{{vm.report.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="hackYeahApp.report.reporter">Reporter</span></dt>
        <dd>
            {{vm.report.reporter.id}}
        </dd>
        <dt><span data-translate="hackYeahApp.report.category">Category</span></dt>
        <dd>
            <a ui-sref="report-category-detail({id:vm.report.category.id})">{{vm.report.category.id}}</a>
        </dd>
        <dt><span data-translate="hackYeahApp.report.area">Area</span></dt>
        <dd>
            <a ui-sref="area-detail({id:vm.report.area.id})">{{vm.report.area.id}}</a>
        </dd>
        <dt><span data-translate="hackYeahApp.report.severity">Severity</span></dt>
        <dd>
            <a ui-sref="severity-detail({id:vm.report.severity.id})">{{vm.report.severity.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="report-detail.edit({id:vm.report.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
