
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myReportLabel" data-translate="hackYeahApp.report.home.createOrEditLabel">Create or edit a Report</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.report.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.report.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hackYeahApp.report.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.report.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hackYeahApp.report.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.report.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hackYeahApp.report.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.report.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        
        <div class="form-group">
        	<label class="control-label" data-translate="hackYeahApp.report.position" for="position">Position</label>
        	<div class="map-input">
        		<map-input model="vm.report"></map-input>
        	</div>
        </div>

        <div class="form-group">
            <label data-translate="hackYeahApp.report.category" for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" ng-model="vm.report.category" ng-options="reportCategory as reportCategory.name for reportCategory in vm.reportcategories track by reportCategory.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="hackYeahApp.report.area" for="field_area">Area</label>
            <select class="form-control" id="field_area" name="area" ng-model="vm.report.area" ng-options="area as area.id for area in vm.areas track by area.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="hackYeahApp.report.severity" for="field_severity">Severity</label>
            <select class="form-control" id="field_severity" name="severity" ng-model="vm.report.severity" ng-options="severity as severity.id for severity in vm.severities track by severity.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
