<div ng-cloak>
    <div class="row">
            <div class="map">
				<map-preview markers="reports"></map-preview>
            </div>
            <div class="report-feed">
                <ul>
                    <my-report ng-repeat="report in reports" content='report'></my-report>
                </ul>
            </div>
    </div>
</div>
