.map {
  width: 80%;
  height: 100%;
  float: left; }

.report-feed {
  height: 500px;
  font-family: 'Lato', sans-serif;
  overflow: auto;
  width: 25%;
  max-width: 350px;
  float: right; }
  .report-feed ul {
    display: block;
    list-style: none; }
    .report-feed ul li .report-distance {
      width: 20%;
      display: inline-block;
      height: 100%;
      line-height: 80px;
      text-align: center;
      font-size: 30px;
      border-radius: 50%;
      border: solid #000000;
      background-color: #fff;
      position: relative;
      float: left; }
    .report-feed ul li .report-details {
      width: 75%;
      display: inline-block;
      position: relative;
      margin: 0;
      padding: 0; }
