.map{
width:75%;
height:500px;
float:left;
    .ng-isolate-scope{
            height:100%;
            ng-map{
                height:100%; 
            }
        }
}
.report-feed{
    height:500px;
    font-family: 'Lato', sans-serif;
    overflow:auto;
    width:25%;
    max-width:350px;
    float:right;
    ul{
        display:block;
        list-style:none;
        padding:0;
        li{
            .report-distance{
                width: 50px;
                display: inline-block;
                height: 50px;
                line-height: 45px;
                text-align: center;
                font-size: 20px;
                border-radius: 50%;
                border: solid #f1ebeb;
                background-color: #d3d1d1;
                background: linear-gradient(-90deg, #d3d1d1, #fcf9f9); /* Standard syntax */                
                color: #192836;
                position: relative;
                float: left;
            }
            .report-header{
                background-color: #fff;
                padding:5px;
                border:3px solid;
                border-radius:15px;
            }
            .severity-red{
                border-color: #e82929;
            }
            .severity-orange{
                border-color: #f5bb3e;
            }
            .severity-green{
                border-color: #53e83c;
            }
            .report-details{
                width:75%;
                display:inline-block;
                position:relative;
                margin:0;
                padding:0;
            }
        }
    }

}