<div>
	<ng-map zoom="11" center="{{markers[0].lat + ','+ markers[0].lng}}" tilt="0" height="100%">
		    <marker ng-repeat="marker in markers" position="{{marker.lat + ',' + marker.lng}}"></marker>
    </ng-map>
</div>