<div>
	<ng-map zoom="11" center="currentPosition" tilt="0" height="100%" on-click="updateMarkerPosition(event)">
		    <marker ng-if="marker != null" position="{{marker.lat + ',' + marker.lng}}"></marker>
    </ng-map>
</div>